@using StudentRegisterMVC.Helpers
@model StudentIndexViewModel

@{
    ViewData["Title"] = "All students";
}

@functions {
    string GenerateModalId(int id) 
    {
        return "#student" + id;
    }

    string GetModalId(int id)
    {
        return "student" + id;
    }
}

<h1>All students</h1>

<p>
    <a asp-action="Create">Add a new student</a>
</p>

<form asp-action="Index" method="get">
    <input type="search" asp-for="QueryOptions.SearchQuery" placeholder="Search by last name"/>

    <select asp-for="QueryOptions.SortBy" asp-items="Html.GetEnumSelectList<SortByOptions>()"></select>

    <input type="submit" value="Sort" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Students.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Students.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Students.First().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
           
@foreach (var item in Model.Students) {
            <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.StudentId">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                
                <!-- Button trigger modal -->
                <button type="button" class="link-danger border-0" data-bs-toggle="modal" data-bs-target="@GenerateModalId(item.StudentId)">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="@GetModalId(item.StudentId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete student @item.FirstName @item.LastName?</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This will permanently delete the student and the action is irreversible.
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@item.StudentId" />
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@if (!string.IsNullOrEmpty(Model.QueryOptions.SearchQuery))
{
    <a asp-action="Index">Show all students</a>    
}
